// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_results {
    margin-top: 50px;
}

#search_results .item_thumb {
    height: 128px;
    width: 128px;
}

#search_results .item_name {
    width: 50em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item {
    height: 15em;
    overflow-y: hidden;
    margin-bottom: 0.5em;
}