// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_results {
    margin-top: 50px;
}

#search_results .item_thumb {
    height: 128px;
    width: 128px;
}

button.genre {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.item {
    height: 15em;
    overflow-y: hidden;
    margin-bottom: 0.5em;
}